@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
    
}