//font variables
$primary-font:Montserrat;
$secondary-font:Poppins;
//primary colors
$primary-color:#F58025;
$color-white: #fff;
$color-black: #000;
$light-grey: #CECECE;
$dark-grey: #494949;
$black-grey:#2d2d2d;
