.herobanner {
    position: relative;

    &__banner-img {
        width: 100%;
    }

    &__content {
        position: absolute;
        top: 40%;
        left: 0;
        right: 0;
        @include breakpoint ( ipad-max){
            position: absolute;
            top: 30%;
            left: 0;
            right: 0;
        }
        @include breakpoint ( mobile-max){
            position: absolute;
            top: 20%;
            left: 0;
            right: 0;
        }
        @include breakpoint ( portrait-mobile-max){
            position: absolute;
            top: 10%;
            left: 0;
            right: 0;
        }
        @include breakpoint(desktop-max){
            position: absolute;
            top: 23%;
            left: 0;
            right: 0;
        }
    }

    &__headings {
        color: $color-white;
        font-size: 32px;
        font-weight: 700;
        width: 400px;
    }

    &__paragraph {
        font-size: 16px;
        font-weight: 400;
        color: $color-white;
        width: 369px;
    }
   
}


// our product page css